img {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: auto;
}

div {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 1200px;
  max-height: 700px;
  margin-top: 10px;
  right: 0px;
  float: right;
  font-weight: 900;
  text-align: right;
}